<!DOCTYPE html>
<html>
<head>
	<title>AutoComplete Test</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
	</script>

	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
		rel="stylesheet" type="text/css" />
</head>
<body>
	<h1>Stepping Stones</h1>

	<div>Choose your goal concepts</div>
	<input type="text" id="goal-concepts" size="100">
	<button type="button" id="goal-concepts-submit">Save Goal Concepts</button>

	<div>List your mastered concepts</div>
	<input type="text" id="mastered-concepts" size="100">
	<button type="button" id="mastered-concepts-submit">Save Mastered Concepts</button>

	<div>After selecting goal concepts and mastered concepts, click below to see your learning graph</div>
	<a href="{{ url_for('show_graph')}}"><button type="button" id="generate-graph">Generate Graph</button></a>


	<script>
		$(function() {
			var availableConcepts = [
				{% for concept in concepts %}
			"{{concept}}",
			{% endfor %}
		];
		function split ( value ) {
			return value.split( /,\s*/ );
		}
		function extractLast ( concept ) {
			return split( concept ).pop();
		}
		$( "#goal-concepts" )
			.on( "keydown", function ( event ) {
				if ( event.keyCode === $.ui.keyCode.TAB &&
					$( this ).autocomplete( "instance" ).menu.active ) {
				event.preventDefault();
				}
			})
			.autocomplete({
				minLength:0,
				source: function( request, response ) {
					response( $.ui.autocomplete.filter(
							availableConcepts, extractLast( request.term ) ) );
				},
				focus: function() {
					return false;
				},
				select: function( event, ui ) {
					var terms = split( this.value );
					terms.pop();
					terms.push( ui.item.value );
					terms.push( "" );
					this.value = terms.join( ", " );
					return false;
				}
			});
		$( "#mastered-concepts" )
			.on( "keydown", function ( event ) {
				if ( event.keyCode === $.ui.keyCode.TAB &&
					$( this ).autocomplete( "instance" ).menu.active ) {
				event.preventDefault();
				}
			})
			.autocomplete({
				minLength:0,
				source: function( request, response ) {
					response( $.ui.autocomplete.filter(
							availableConcepts, extractLast( request.term ) ) );
				},
				focus: function() {
					return false;
				},
				select: function( event, ui ) {
					var terms = split( this.value );
					terms.pop();
					terms.push( ui.item.value );
					terms.push( "" );
					this.value = terms.join( ", " );
					return false;
				}
			});
		} );
	</script>
	<script>
		$(document).ready(function (){
			$("#goal-concepts-submit").click(function (){
				var values = $("#goal-concepts").val();
				$.post("/goal_concept", {"goal_concepts": JSON.stringify(values)})
				alert(values);
			})
		})
		$(document).ready(function (){
			$("#mastered-concepts-submit").click(function (){
				var values = $("#mastered-concepts").val();
				$.post("/mastered_concepts", {"mastered_concepts": JSON.stringify(values)})
				alert(values);
			})
		})
	</script>


</body>
</html>
